/*section personal*/

* , *:after, *:before                    /*     * means 'all element'      */
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body
{
  font-family: Tahoma;
  height: 2000px;
}

.container    /*حتى اترك مسافة من الجهتين لكل الصفحة*/
{
  width: 1100px;
  margin: auto;
}


/*1*/
section.personal
{
  width: 100%;
  height: 600px;
  color: #fff;  /*أبيض*/
  background: url('../images/iloveprogramming.jpg');
  background-size: cover;  /*حتى تاخذ كل المساحة من دون متتكرر*/
  padding-top: 20px;
}

/*header          /* هذه الطريقة اذا اريد انزل الهيدر بس من دون الباك كراوند */
/*{
  padding-top: 20px;
}*/

section .container header{
  background: #777b7e;
  padding: 5px 15px;
}

/*حتى اللوغو ياخذ نص الصفحة والبوتومس تاخذ النص الثاني*/
section.personal .logo
{
  width:: 50%;
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  /*text-transform: uppercase;*/
}

section.personal nav
{
  width: 50%;
  float: right;;
}

section.personal nav ul li
{
  display: inline-block;     /*حتى تكون البوتومس بسطر واحد*/
  padding-left: 15px;;       /*المسافة/التباعد بين البوتومس*/
}

section.personal nav ul li a
{
  color: #fff;                            /*لون ابوتمس/اللنكات أبيض*/
  /*text-decoration: none;*/              /*يزيل الخط من تحت البوتومب*/
  font-size: 14px;
}

section.personal .clear                   /*ازالة تأثير الفلوت على الدف اللي كلاسة كلير*/
{
  clear: both;
}

/*clearfix defined in bootstrap so writing just clearfix as a class in the header is enough but without bootstrap I must the code below*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

section.personal .welcome
{
  margin-top: 25%;
}

section.personal div.welcome p:first-child
{
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
}

section.personal .welcome p span         /*حتى اخلي :) تفتر من احط الماوس على البي والسبان*/
{
  transition: all 0.5s ease-in-out;
}

section.personal div.welcome p:last-child:hover span
{
/* transition: all 0.5s ease-in-out; */      /*اذا اريد اخلي :) تفتر من احط الماوس على السبان فقط*/
  display: inline-block;
  transform: rotate(360deg)
}
/*_______________________________________________________*/

/*About*/
section.about
{
  width: 100%;
  height: 600px;
  padding: 50px 0 50px 0;       /*top right bottom left*/
}

section.about div.before ,
section.about div.joined ,
section.about div.after
{
  width: 30%;                   /* It should be 33%, but I need alittle bt for margin so I put 30% */
  float: left;                  /*حتى يصير صف يم صف */
  margin-left: 3%;              /* حتى يصير فراغ بين واحد واحد */ /* This margin will not apply on "div.before" because we specified/overwrited it's value below */
  font-family: sans-serif;
}

section.about div.before
{
  margin-left: 0%              /* حتى ليزحف للبمين ويبقى على حافة حدودة */
}

section.about div.before img ,
section.about div.joined img ,
section.about div.after img
{
  width: 100%;   /*الدف ماخذ30% فالصورة الي داخل الدف خل تاخذ 100% حتى تملأ الدف ولتعبر*/
}

section.about h2.title
{
  font-size: 3em;
  margin-bottom: 4%;
  color: #888;
  font-weight: bold;
}

section.about div.before p
{
  margin-bottom: 7%           /* المجال بين براكراف واخر */
}

section.about div.before p:nth-of-type(1) span   /* p is not the first child and this the way to select specific selector like p */
/*section.about div.before p span*/              /* another way like the line above */
{
  font-weight: bold;
}

section.about div.before h3,
section.about div.joined h3,
section.about div.after h3
{
  margin-top: 7%;
  margin-bottom: 7%;
  color: #666;
}

section.about div.before p,
section.about div.joined p,
section.about div.after p
{
  margin-bottom: 7%;
  color: #999;
}

section.about div.before p:nth-of-type(4) a:hover
{
  color: blue;
}

/* Another way of selection like above reasult */
/*
.before > p > a:hover
{
  color: blue;
}
*/
