/*section personal*/

 * , *:after, *:before
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body
{
  font-family: Tahoma;
}

.container    /*حتى اترك مسافة من الجهتين لكل الصفحة*/
{
  width: 1100px;
  margin: auto;
}

section.personal:before  /* CSS pseudo-element from ggogle to give opacity just for background*/
{
    width: 100%;
    height: 600px;
    color: #fff;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background-image: url('../images/cover1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

header          /* هذه الطريقة اذا اريد انزل الهيدر بس من دون الباك كراوند */
{
  padding-top: 20px;
}

.clearfix.header          /*Sticky Navbar */
{
  display: none;
  width: 79.35%;
  height: 45px;
  /*background: #777b7e;*/
/*______________*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
background: #f0b7a1; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/*______________*/
  position: fixed;
  top: 0;
  /*margin-left: 0;*/
  /*padding: 5px 15px;*/
  z-index: 9999;
}

section .container header{
  /*background: #777b7e;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
background: #f0b7a1; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 5px 15px;
}

/*حتى اللوغو ياخذ نص الصفحة والبوتومس تاخذ النص الثاني*/
section.personal .logo
{
  width:: 50%;
  float: left;
  font-size: 1.5em;
  animation: 3s multicolor;
}
@keyframes multicolor {
  0% {
      color: #000;
  }
  33% {
      color: #FF0000;
  }
  66% {
      color:  #9932CC;
  }
  100% {
      color: #FFF;
  }
  font-weight: bold;
  /*text-transform: uppercase;*/
}

section.personal nav
{
  width: 50%;
  float: right;;
}

section.personal nav ul li
{
  display: inline-block;     /*حتى تكون البوتومس بسطر واحد*/
  padding-left: 15px;       /*المسافة/التباعد بين البوتومس*/
}

section.personal nav ul li a
{
  color: #fff;                            /*لون ابوتمس/اللنكات أبيض*/
  /*text-decoration: none;*/              /*يزيل الخط من تحت البوتومب*/
  font-size: 14px;
  transition: all 0.4s ease-in-out;
}

section.personal nav ul li a:hover
{
  color: #888;
}


section.personal .clear                   /*ازالة تأثير الفلوت على الدف اللي كلاسة كلير*/
{
  clear: both;
}

/*clearfix defined in bootstrap so writing just clearfix as a class in the header is enough but without bootstrap I must the code below*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

section.personal .welcome
{
  margin-top: 0%;
  color: white;
  font-weight: bold;
}

section.personal div.welcome p:first-child
{
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
}

section.personal .welcome p span         /*حتى اخلي :) تفتر من احط الماوس على البي والسبان*/
{
  transition: all 0.5s ease-in-out;
  color: white;
  font-weight: bold;
}

section.personal div.welcome p:last-child:hover span
{
/* transition: all 0.5s ease-in-out; */      /*اذا اريد اخلي :) تفتر من احط الماوس على السبان فقط*/
  display: inline-block;
  transform: rotate(360deg)
}
/*_______________________________________________________*/

/*About*/
section.about
{
  width: 100%;
  height: 870px;
  padding: 150px 0 50px 0;       /*top right bottom left*/
}

section.about div.before ,
section.about div.joined ,
section.about div.after
{
  width: 30%;                   /* It should be 33%, but I need alittle bt for margin so I put 30% */
  float: left;                  /*حتى يصير صف يم صف */
  margin-left: 3%;              /* حتى يصير فراغ بين واحد واحد */ /* This margin will not apply on "div.before" because we specified/overwrited it's value below */
  font-family: sans-serif;
}

section.about div.before
{
  margin-left: 0%              /* حتى ليزحف للبمين ويبقى على حافة حدودة */
}

section.about div.before img ,
section.about div.joined img ,
section.about div.after img
{
  width: 100%;   /*الدف ماخذ30% فالصورة الي داخل الدف خل تاخذ 100% حتى تملأ الدف ولتعبر*/
}

section.about h2.title
{
  font-size: 3em;
  margin-bottom: 4%;
  color: #888;
  font-weight: bold;
}

section.about div.before p
{
  margin-bottom: 7%           /* المجال بين براكراف واخر */
}

section.about div.before p:nth-of-type(1) span   /* p is not the first child and this the way to select specific selector like p */
/*section.about div.before p span*/              /* another way like the line above */
{
  font-weight: bold;
}

section.about div.before h3,
section.about div.joined h3,
section.about div.after h3
{
  margin-top: 7%;
  margin-bottom: 7%;
  color: #666;
}

section.about div.before p,
section.about div.joined p,
section.about div.after p
{
  margin-bottom: 7%;
  color: #999;
}

section.about div.before p:nth-of-type(4) a:hover
{
  color: blue;
}

/* طريقة أخرى لاختيار السلكتورس */
/*
.before > p > a:hover
{
  color: blue;
}
*/

section.about div.before div:hover img ,
section.about div.joined div:hover img ,
section.about div.after div:hover img
{
  transform: scale(1.2);      /* من اخلي الماوس على الصورة تبر */
}

section.about div.before > div ,   /* > div means the direct child of that kind of selectors */
section.about div.joined > div ,
section.about div.after > div
{
  overflow: hidden;           /* من يسوي سكيل مراح يطلع عن حدود الصورة */
  position: relative;
}

section.about div.before img ,
section.about div.joined img ,
section.about div.after img
{
  transition: all 0.5s ease-in-out;
}

section.about div.before div div.overlay ,
section.about div.joined div div.overlay ,
section.about div.after div div.overlay
{
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

section.about div.before > div:hover div.overlay ,
section.about div.joined > div:hover div.overlay ,
section.about div.after > div:hover div.overlay
{
  display: block;
}
/*_______________________________________________________*/

/*Folio*/
section.folio
{
  width:100%;
  background: url('../images/slide-7-fw.jpg');
  height: 500px;
  background-size: cover;
  background-attachment: fixed;   /*فيكة تنزل والصورة شكلها ثابت */
  text-align: center;             /* احط الشغل في نص الالصفحة */
  color: #fff;                    /*أبيض*/
  line-height: 1.7;               /* المسافة بين خط وخط*/
}

section.folio div.folio_part
{
  padding-top: 15%;
}

section.folio div.folio_part span
{
  font-size: 13px;
  font-style: italic;
}

section.folio div.folio_part div.sblings
{
  font-size: 18px;
}

section.folio div.folio_part h4.title
{
  font-size: 24px;
  font-weight: bold;
  
}


section.folio div.folio_part button
{
  margin-top: 50px;
  width: 200px;                   /* اعطاء عرض للبوتونس*/
  padding: 15px;                  /*اعطاء ارتفاع للبوتونس*/
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size:18px;
  cursor: pointer;                 /*تغيير شكل المؤشر من يصير فوق البوتونس*/
  transition: all 0.5s ease-in-out;
}

section.folio div.folio_part p.two  /* لايعرض بشكل تلقائي هذا البي مالم اضغط على البوتون الثاني*/
{
  display: none;
}

section.folio div.folio_part button:hover
{
  background: rgba(0, 0, 0, 0.5);
}

#searchTerm
{
  width: 80%;
}
/*_______________________________________________________*/

/*section soloution*/
section.solution
{
  width: 100%;
  height: 450px;
  padding: 70px 0 70px 0;
}

section.solution div.tailor
{
  width: 50%;
  float: left;
  padding-right: 55px;
}

section.solution div.tailor h2
{
  font-size: 2.5em;
  margin-bottom: 3%; 
}

section.solution div.tailor p:nth-of-type(1)
{
  color: #555;
  font-size: 20px;
  margin-bottom: 2%;
}

section.solution div.tailor p:nth-of-type(2)
{
  color: #999;
  line-height: 1.5;
  font-size: 15px;
  margin-bottom: 2%;
}


section.solution div.acordion
{
  width: 50%;
  float: left;
}

section.solution div.acordion h3
{
  /*______________*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
background: #f0b7a1; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/*______________*/
  color: #fff;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

section.solution div.acordion p
{
  background: #fce9e3;
  color: #555;
  display: none;
}
/*_______________________________________________________*/


/*section study*/
section.study
{
  width: 100%;
  height: 500px;
  background: #e62739;
}

section.study div.app
{
  width: 50%;
  float: left;
  height: 500px;
  /*padding-right: 50px;*/
}

section.study div.app h2
{
  padding-top: 15%;
  color: white;
}

section.study div.app p
{
  margin-top: 2%;
  font-size: 16px;
  color: white;
  line-height: 1.5;
  margin-bottom: 7%;
}

section.study div.download
{
  width: 50%;
  position: absolute;
  right: 0;
  float: right;
  background: url('../images/pexels-photo-92904.jpg');
  height: 500px;
}

section.study div.download div.number
{
  width: 50%;
  background: rgba(237, 180, 157, 0.7);
  font-weight: bold;
  height: 200px;
  margin: 25% auto;
  color: #e62739;
}

section.study div.download div.number div.left
{
  width: 50%;
  float: left;
}

section.study div.download div.number div.right
{
  width: 50%;
  float: right;
}

section.study div.download div.number div.left p ,
section.study div.download div.number div.right p
{
  margin-bottom: 5%;
  font-size: 2em;
}
/*_______________________________________________________*/

/*recent*/

section.recent
{
  width: 100%;
  height: 700px;
  /*padding: 100px 0 50px 0*/
}

section.recent div.center
{
  text-align: center;
  padding-top: 100px;
}

section.recent div.center h2
{
  font-size: 3em;
  margin-bottom: 1%;
}

section.recent div.center nav span
{
  color: #999;
  font-size: 20px;
  padding-left: 25px;
  margin-bottom: 5%;
  display: inline-block;
}

section.recent div.All_images .left
{
  width: 50%;
  float: left;
}

section.recent div.All_images .left .div1
{
  width: 50%;
  float: left;
}

section.recent div.All_images .left .div1 img
{
  width: 100%;
}

section.recent div.All_images .left .div2
{
  width: 50%;
  float: left;
}

section.recent div.All_images .left .div2 img
{
  width: 100%;
}

section.recent div.All_images .right
{
  width: 50%;
  float: left;
}

section.recent div.All_images .right .open
{
  width: 100%;
}

section.recent div.All_images .right .open img
{
  height: 478px;
  width: 100%;
}

section.recent div.All_images .right .close
{
  width: 100%;
  display: flex;
}

section.recent div.All_images .right .close > div
{
  width: 50%;
}

section.recent div.All_images .right .close > div:nth-of-type(1) img
{
  width: 100%;
  float: left;
}

section.recent div.All_images .right .close > div:nth-of-type(2) img
{
  width: 50%;
  float: right;
}


/*.mix
{
  display: none;
}*/
/*_______________________________________________________*/

/*footer*/

footer
{
  height: 200px;
  width: 100%;
  /*padding-top: 20px;*/
  /*background: rgba(0, 0, 0, 0.4);*/
  background: black;
  color: #fff;
  position: relative;
}

 /*should the above work correctly and delete the lower one*/

footer div.info
{
  height: 200px;
  width: 100%;
  /*padding-top: 20px;*/
  /*background: rgba(0, 0, 0, 0.4);*/
  background: black;
  color: #fff;
  position: relative;
}

footer div.info
{
  width: 22%;
  margin-left: 2%;
  float: left;

}

footer div.info a
{
  text-decoration: none;
  display: block;
  color: #fff;
  line-height: 2.5;
}

/*footer div.info p
{
  line-height: 2.5;
  margin-bottom: 7%;
}*/

footer div.info h3
{
  margin-bottom: 7%;
}

footer div.info input
{
  display: block;
  background: none;
  padding: 7px;
  margin-bottom: 1.5%;
}

footer div.info input[type=email] ,
footer div.info input[type=text]
{
  border: 1px solid #888;
}

footer div.info input[type=submit]
{
  border: 1px solid #888;
}

footer .footer2
{
  width: 100%;
  height: 70px;
  background: #888;
  position: absolute;
  bottom: 0;
}