/*section personal*/

* , *:after, *:before                    /*     * means 'all element'      */
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container
{
  width: 920;
  margin: auto;
}

/*1*/
section.personal
{
  width: 100%;
  height: 600px;
  color: #fff;  /*أبيض*/
  background: url('../images/iloveprogramming.jpg');
  background-size: cover;  /*حتى تاخذ كل المساحة من دون متتكرر*/
}
